@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --fontsize-clamp-desktop:clamp(12px,1.5vw,2.2vw);
    --fontsize-clamp-mobile:clamp(15px,1.5vw,2.2vw);
  }
  ::-webkit-scrollbar{
    width: .3em;
    height: .3em;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #595959;
    border-radius: 5em;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #6e6e6e;
  }

  @keyframes fluid-gradient {
    0%{background-position: left;}
    100%{background-position: right;}
  }
  

  html {
    @apply min-h-full scroll-smooth;
  }
  body {
    @apply min-h-screen ;
  }

  /* #Introduction{ 
    background:#111827 ;
    background: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
    background-size: 400%;
    will-change: background-position;
    animation: fluid-gradient 5s infinite alternate;
  } */



  .gradient-text::before{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0%;
    bottom: 0%;
  }

  .gradient-title{
    /* 141deg, #adf1e0, #8075ff 28%, #ff7171 98% */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline;
  }

  .gradient-bg{
    background-color: transparent;
    background-image: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
  }


  .gradient-bg-empty-effect>.gradient-bg-empty-effect-icon{
    background-color: transparent;
    background-image: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
    background-size: 100%;
    background-repeat:no-repeat;
  }

  .gradient-bg-empty-effect>.gradient-bg-empty-effect-label{
    position: relative;
  }
  .gradient-bg-empty-effect>.gradient-bg-empty-effect-label::after{
    content: var(--label-content);
    position: absolute;
    top: 0%;
    left: 0%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
    background-size: 0%;
    background-clip: text;
    display: inline;
  }
  .gradient-bg-empty-effect:hover>.gradient-bg-empty-effect-label::after{
    background-size: 100%;
  }

  .gradient-bg-empty-effect:hover>.gradient-bg-empty-effect-icon{
    background-size:0%; 
  }
  .gradient-bg-empty-effect:hover>.gradient-bg-empty-effect-icon>svg{
    @apply w-[1.8em] h-[1.8em]
  }


  .hide-to-left{
    @apply opacity-0 translate-x-5 ;
  }

  .reveal-from-left{
    @apply opacity-100 translate-x-0 ;
  }

  .hide-to-right{
    @apply opacity-0 -translate-x-5 ;
  }

  .reveal-from-right{
    @apply opacity-100 translate-x-0 ;
  }

  #Project1:checked ~ #Work>div{
    @apply opacity-100
  }
/*    
 .scrolled-nav{
    @apply [&>.main-nav]:hidden [&>.contact-nav]:scale-0 [&>label]:flex [&>.main-nav]:z-30 [&>.main-nav]:shadow [&>.main-nav]:bg-white [&>.main-nav]:fixed [&>.main-nav]:w-full [&>.main-nav]:h-[100vh] [&>.main-nav]:-right-[100%] [&>.main-nav]:peer-checked:right-[0%] [&>.main-nav]:peer-checked:[&>ul]:opacity-100 [&>.main-nav]:peer-checked:[&>div]:flex [&>.main-nav]:transition-[transform,right] [&>.main-nav]:duration-300 [&>.main-nav]:ease-in
 } */
  
  /* Split Text library custom styles  */
    /* .work-section-title{
      overflow-y: hidden;
    } */




  @media only screen and (min-width:601px){
      html{
        font-size: var(--fontsize-clamp-desktop);
      }
    }
  @media only screen and (max-width:600px) {
    html{
      font-size: var(--fontsize-clamp-mobile);
    }
  }
  
}