@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --fontsize-clamp-desktop:clamp(12px,1.5vw,2.2vw);
    --fontsize-clamp-mobile:clamp(15px,1.5vw,2.2vw);
  }
  ::-webkit-scrollbar{
    width: .3em;
    height: .3em;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #595959;
    border-radius: 5em;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #6e6e6e;
  }

  @keyframes fluid-gradient {
    0%{background-position: left;}
    100%{background-position: right;}
  }

  .mesh-gradient{
    
    background-color: rgb(245, 245, 245);
    background-image: radial-gradient(at 100% 48%, rgb(251, 146, 60) 0, transparent 37%), radial-gradient(at 74% 13%, rgb(253, 186, 116) 0, transparent 38%), radial-gradient(at 7% 81%, rgb(125, 211, 252) 0, transparent 53%), radial-gradient(at 87% 80%, rgb(186, 230, 253) 0, transparent 34%), radial-gradient(at 15% 16%, rgb(248, 113, 113) 0, transparent 37%), radial-gradient(at 34% 46%, rgb(252, 165, 165) 0, transparent 40%);
  
  }


  html {
    @apply min-h-full scroll-smooth;
  }
  body {
    @apply min-h-screen;
  }

  .gradient-text::before{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0%;
    bottom: 0%;
  }

  .gradient-title{
    /* 141deg, #adf1e0, #8075ff 28%, #ff7171 98% */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline;
  }

  .gradient-bg{
    background-color: transparent;
    background-image: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
  }

  .gradient-bg-empty-effect>.gradient-bg-empty-effect-icon{
    background-color: transparent;
    background-image: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
    background-size: 100%;
    background-repeat:no-repeat;
  }

  .gradient-bg-empty-effect>.gradient-bg-empty-effect-label{
    position: relative;
  }
  .gradient-bg-empty-effect>.gradient-bg-empty-effect-label::after{
    content: var(--label-content);
    position: absolute;
    top: 0%;
    left: 0%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#28abe1 15%,#ff729f 50%,#f18f01 85%);
    background-size: 0%;
    background-clip: text;
    display: inline;
  }
  .gradient-bg-empty-effect:hover>.gradient-bg-empty-effect-label::after{
    background-size: 100%;
  }

  .gradient-bg-empty-effect:hover>.gradient-bg-empty-effect-icon{
    background-size:0%; 
  }
  .gradient-bg-empty-effect:hover>.gradient-bg-empty-effect-icon>svg{
    @apply w-[1.8em] h-[1.8em]
  }


  .hide-to-left{
    @apply opacity-0 translate-x-5 ;
  }

  .reveal-from-left{
    @apply opacity-100 translate-x-0 ;
  }

  .hide-to-right{
    @apply opacity-0 -translate-x-5 ;
  }

  .reveal-from-right{
    @apply opacity-100 translate-x-0 ;
  }

  #Project1:checked ~ #Work>div{
    @apply opacity-100
  }

  /* Nuevas clases */

  .main-nav-toggler{
    @apply fixed left-[5%] z-40 my-[2vh] w-[3.3em] h-[3.3em] flex items-center justify-center transition-[opacity,background-color] duration-200 ease-in-out peer-checked:z-50 peer-checked:[&>span]:bg-transparent peer-checked:[&>span]:-right-2 peer-checked:[&>span]:before:rotate-45 peer-checked:[&>span]:before:translate-x-[0em] peer-checked:[&>span]:before:translate-y-[0em] peer-checked:[&>span]:after:-rotate-45 peer-checked:[&>span]:after:-translate-x-[.05em] peer-checked:[&>span]:after:-translate-y-[.01em] tablet:w-[6.6em] tablet:h-[6.6em] tablet:justify-normal desktop:w-[2.4em] desktop:h-[2.4em] desktop:cursor-pointer
  }

  .main-nav-toggler>.main-nav-toggler-burguer{
    @apply 
    bg-dark 
    rounded-full 
    transition-colors 
    duration-200 
    ease-in-out 
    before:transition-transform 
    before:duration-200 
    before:ease-in-out 
    before:absolute 
    before:bg-dark 
    before:rounded-full 
    before:-translate-y-[.4em] 
    after:transition-transform 
    after:duration-200 
    after:ease-in-out 
    after:absolute 
    after:bg-dark 
    after:rounded-full 
    after:translate-y-[.4em]

    w-[1.5em] 
    h-[.15em] 
    before:w-[1.5em] 
    before:h-[.15em] 
    after:w-[1.5em] 
    after:h-[.15em] 

    tablet:my-[1.2em]
    tablet:before:my-[1.2em]
    tablet:after:my-[1.2em]
    tablet:w-[3.6em] 
    tablet:h-[.4em] 
    tablet:before:w-[3.6em] 
    tablet:before:h-[.4em] 
    tablet:after:w-[3.6em] 
    tablet:after:h-[.4em] 

    desktop:w-[1.5em] 
    desktop:h-[.15em] 
    desktop:before:w-[1.5em] 
    desktop:before:h-[.15em] 
    desktop:after:w-[1.5em] 
    desktop:after:h-[.15em] 
  }


  @media only screen and (min-width:601px){
      html{
        font-size: var(--fontsize-clamp-desktop);
      }
    }
  @media only screen and (max-width:600px) {
    html{
      font-size: var(--fontsize-clamp-mobile);
    }
  }
  
}