@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
      --fontsize-clamp-desktop:clamp(12px,1.5vw,2.2vw);
      --fontsize-clamp-mobile:clamp(15px,1.5vw,2.2vw);
    }
    ::-webkit-scrollbar{
      width: .3em;
      height: .3em;
    }
    ::-webkit-scrollbar-track{
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb{
      background-color: #595959;
      border-radius: 5em;
    }
    ::-webkit-scrollbar-thumb:hover{
      background-color: #6e6e6e;
    }

    @keyframes fluid-gradient {
      0%{background-position: left;}
      100%{background-position: right;}
    }
    

    html {
      @apply min-h-full scroll-smooth;
    }
    body {
      @apply min-h-screen ;
    }

    #Introduction,.gradient-text::before{ 

      /* background: #355C7D;
      background-image: -webkit-linear-gradient(45deg, #C06C84, #6C5B7B, #355C7D);
      background-image: linear-gradient(45deg, #C06C84, #6C5B7B, #355C7D); */

      /* background: #108dc7;
      background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
      background: linear-gradient(to right, #ef8e38, #108dc7); */

      /* background: #1a2a6c;
      background: -webkit-linear-gradient(225deg, #fdbb2d, #b21f1f, #1a2a6c,#111827);
      background: linear-gradient(225deg, #fdbb2d, #b21f1f, #1a2a6c,#111827);el mejorsito */
      background: rgb(17,24,39);
      background: linear-gradient(45deg, rgba(17,24,39,0.9501925770308123) 5%, rgba(26,42,108,0.95) 28%, rgba(178,31,31,0.95) 68%, rgba(253,187,45,0.95) 100%);


      /* background-size: contain; */
      background-size: 400%;
      will-change: background-position;
      animation: fluid-gradient 5s infinite alternate;

    }
    .gradient-text::before{
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-background-clip: text;
      background-clip: text;
      position: absolute;
      top: 0%;
      left: 0;
      right: 0%;
      bottom: 0%;
    }

    /* .gradient-bg-icon{
      background: rgb(178,31,31);
background: linear-gradient(45deg, rgba(178,31,31,0.95) 28%, rgba(253,187,45,0.95) 100%);
    } */


    .hide-to-left{
      @apply opacity-0 translate-x-5 ;
    }

    .reveal-from-left{
      @apply opacity-100 translate-x-0 ;
    }

    .hide-to-right{
      @apply opacity-0 -translate-x-5 ;
    }

    .reveal-from-right{
      @apply opacity-100 translate-x-0 ;
    }

    #Project1:checked ~ #Work>div{
      @apply opacity-100
    }
   
    @media only screen and (min-width:601px){
        html{
          font-size: var(--fontsize-clamp-desktop);
        }
      }
    @media only screen and (max-width:600px) {
      html{
        font-size: var(--fontsize-clamp-mobile);
      }
    }
    
}